<div class="signupForm"
[ngClass]="{transform:! signupform}"

>
<div class="proxym"></div>
    

     
<form 

#myForm="ngForm"
>
    <div class="form1" 
    id="form1"
    [ngClass]="{signupform: !signupform}"
    >
        <h1>Sign up</h1>
     <div class=" div-name div-mail">
     <input ngModel type="text" name="name" autocomplete="off" required >
     <label for="email" class="label-mail shake-horizontal">
         <span class="span-mail">Nom et Prénom</span>
     </label>
 </div>
 
   <div class="div-mail">
     <input 
     #myemail="ngModel"

     ngModel required type="email" name="email" autocomplete="off" >
     <label for="mdp" class="label-mail">
         <span class="span-mail">
             E-mail
         </span>
     </label>
 </div>

 <span
 class="error"
 *ngIf="!myemail.valid && myemail.touched"
 >Enter a valid Email</span>

 <div class=" div-pass">
     <input
     #mypass="ngModel"
     ngModel required type="password" name="pass" autocomplete="off" >
     <label for="mdp" class="label-pass">
         <span class="span-pass">
             Mot de Passe
         </span>
     </label>
 </div>
 <span
 class="error"
 *ngIf="!mypass.valid && mypass.touched"
 >Enter a valid Password</span>
 <div class="form2">
 <ul>
     
    <li
    (click)="select1()"

    [ngClass]="{selected: selected1}">
    <input 
    
    [checked]="checked1"
    #first
    name="female" type="checkbox" class="type1"> 
    <label 
    [ngClass]="{labelselected: selected1}"
    
    for="female">female </label> </li>
    
    <li
    (click)="select2()"
    [ngClass]="{selected: selected2}">
    <input 
    [checked]="checked2"
    #second
    
    name="male" type="checkbox" class="type1"> 
    <label 
    [ngClass]="{labelselected: selected2}"
    for="male">male </label> </li>
 </ul>
</div>
 <button 
 class="a" 
 (click)= "createuser(myForm.value)"
 [disabled]="myForm.invalid"
 routerLink='/home' 
 >Sign Up</button>
</div>

<div class="top1"
[ngClass]="{signuptop: !signuptop}"
>
<img src="assets/file2.svg" class="file2" alt=""
[ngClass]="{signupsvg: !signupsvg}"
>
 <h1 class="title1">Vous avez déja un Compte ?</h1>
 <h4 class="subtitle">Rejoignez nous maintenant !</h4>
<p class="signup" href="#"
(click)="signup(myForm)"
>Sign in</p>
</div>
</form>

 
</div>
