
<div class="first"

>
<div class="proxym"></div>

<div class="image"
[ngClass]="{signupImage: signupImage}"
></div>

<form action=""
#myForm="ngForm"
>
   <div class="form"
   [ngClass]="{signupform: signupform}"
   >
       <h1>Log Into your account</h1>
    <div 
    
    class="div-mail">
        
    <input 
    ngModel 
    type="email" name="email" 
    autocomplete="off" required
    #myemail="ngModel"
    >
    <label for="email" class="label-mail">
        <span class="span-mail">E-mail</span>
    </label>
</div>
<span
class="error"
*ngIf="!myemail.valid && myemail.touched"
>Enter a valid Email</span>

  <div class="div-pass">
    <input 
    ngModel
    #mypass="ngModel"
    required type="password" name="pass" autocomplete="off" >
    <label for="mdp" class="label-pass">
        <span class="span-pass">
            Password
        </span>
    </label>
</div>
<span
class="error"
*ngIf="!mypass.valid && mypass.touched"
>Enter a valid Password</span>
<button 


[disabled]="myForm.invalid"
routerLink="/home"
(click)="signin(myForm.value)"
class="a" href="#">Login</button>



<!-- ******************************************* SIGN UP LINK !!********************************* -->
<div class="top"
class="titles"
[ngClass]="{signuptop: signuptop}"
>
  <img class="signinimg"src="assets/file1.svg" alt=""
[ngClass]="{signupsvg : signupsvg }"
>
<div class="div">
<h1 class="title">Are you New ?</h1>
<h4 class="subtitle">Join us Now !</h4>
<p 
(click)="signup()"

class="signup" href="#">Sign up</p>
</div>
</div>
</div>
</form>
</div>

<app-signup
[signupsvg]="signupsvg"
[signuptop]="signuptop"
[signupform]="signupform"
(signal)="signup()"
></app-signup>
