

span,h1 {
    font-family: title;
}
.image {
    /* background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% ); */
    /* background-image: linear-gradient( 111.8deg,  rgba(76,175,80,1) 0.1%, rgba(255,152,0,1) 100.2% ); */
    background-color: #52ACFF;
background-image: linear-gradient(100deg, #52ACFF 25%, #d3bbff 100%);
pointer-events: none;

    /* background-repeat: no-repeat; */
    background-size: cover;
    width:400%;
    height: 200%;
    border-radius: 90%;
    transition-duration: 1500ms;
    transition-property:transform;;
    transform:translate(-200px,200px);
    position: absolute;
    z-index: 0;
  


}
input:checked + .image{
    transform: translate(-74%,-60%);
}

span {
    font-size: 20px;
}
.title {
    font-family: title;
    color: azure;
    font-size: 25px;
    font-weight: 100;
    /* transform: translateX(-20%); */
}
.title1 {
    font-family: title;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 100;
    transform: translateX(-20%);
}


  .subtitle {
      font-family: subtitle;
      margin-top: 0;
      margin-bottom: 0;
      color: rgb(0, 0, 0);
    
  }
  .top{
    position: absolute;
    bottom: 3%;
  
     right: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 1000ms;
  
  }


/*  ***************** FORM ***************** */
.first {
 

}
h1 {
    margin: 0;
  

}
.form {
    z-index: 10;
    /* height: 60%; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    transition-duration: 1000ms;
    display: flex;
    flex-direction: column;
   
    align-items: center;



  
}

input{
    height: 2em;
    margin-top: 2em;
  background-color: transparent;
   padding-bottom: 0;
  vertical-align: middle;
  border: none;
  border-bottom: 2px rgb(0, 0, 0) solid;
  outline: none;
  transform: translate(0,-7px);
  font-size: 16px;
  z-index: 9999999999999;
}
.div-mail {
    position: relative;
  
}

.div-pass {
    position: relative;
}

.span-mail {
position: absolute;
bottom: 0;
top: 1.5em;
right: 0;
left: 0;
pointer-events: none;

transition: 500ms ease;


}
.label-mail::after {
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 2px solid #3eb8ff;
    z-index: 10;
    bottom: 7px;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    opacity: 0;
    pointer-events: none;
    transition: 1000ms ease;



}
.label-pass::after{
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 2px solid #3eb8ff;
    z-index: 10;
    bottom: 7px;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    opacity: 0;
    transform: translate(-180%);
    pointer-events: none;
    transition: 1000ms ease;
}

.span-pass{
    position: absolute;
    bottom: 0;
top: 1.5em;
right: 0;
left: 0;
pointer-events: none;
transition: 500ms ease;


}

.form input:focus + .label-mail .span-mail,
.form input:valid + .label-mail .span-mail {
    transform: translateY(-25%);
  font-size: 15px;
}
.form input:focus + .label-mail::after ,
 .form input:valid + .label-mail::after{
    transform: translateX(0%);
    opacity: 1;
} 


.form input:focus + .label-pass .span-pass,
.form input:valid + .label-pass .span-pass {
    transform: translateY(-25%);
  font-size: 15px;
}
.form input:focus + .label-pass::after ,
 .form input:valid + .label-pass::after{
    transform: translateX(0%);
    opacity: 1;
} 

a , .a, .signup{
    margin: 1em;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px 20px ;
    /* background: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%,
     rgba(78,248,231,1) 112.8% );     */
     font-size: 16px;
    border: 2px solid ;
    /* overflow: hidden; */
      
    outline: none;
    color: black;
}

.proxym {
    background-image: url(/assets/proxym.png);
    width: 230px;
    /* position: absolute; */
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 50 ;
    margin-bottom: 10px;
}

.signup {
color: rgb(0, 0, 0);
padding-bottom: 3px;
border: none;
border-radius: 0;
border-bottom: 2px solid black;
z-index: 300;



}
.first {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.signinimg {
    width:200px;
    align-self: flex-end;
    margin: 5px;
 transition-duration: 1000ms;
}


.signupImage {
    pointer-events: none;
transform: translate(-74%,-60%);;
}
.signuptop {
    transform: translateY(190%);
}
.signupform {
    transform: translateY(100vh);
}
.signupsvg {
    transform: translateX(220%);
}


























.top1{
    position: absolute;
    bottom: 0%;
  color: rgb(0, 0, 0);
     right: -12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 1000ms;
  
  }


/*  ***************** FORM ***************** */

h1 {
    margin: 0;
}
.form1 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    position: absolute;
    left: 10% ;
    transition-duration: 1000ms;


  
}



.file2 {
    position: absolute;
height: 30%;
    width: 50%;
 transform: translate();

 bottom: 9em;
 left: -2em;
 z-index: 5;
 transition-duration: 1000ms;
}


.signupForm {
 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
   
    
}

.show {
    display: block;
}

.ng-touched.ng-invalid input {
   border-bottom: #ff8d8d 2px solid;
}

span.error {
    background-color: rgb(255, 221, 221);
    border-left: 5px solid red;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}

.titles {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
@media only screen and (max-height:715px){
.signinimg {
    width: 150px;
}
h1 {
    font-size: 22px;
}
h1.title {
    font-size: 20px;
}

}
@media only screen and (min-height:715px){

    .proxym {
        margin-bottom: 50px;
    }
    .signinimg {
        width: 230px ;
    }
}
@media only screen and (min-width:600px){
    .signinimg {
        width: 300px;
    }
    h1 {
        font-size: 32px;
    }
    h1.title {
        font-size: 25px;
    }
    p {
        font-size : 18px;
    }
    }