

<!-- <img class="container1" src="/assets/svg/background-update.svg"> -->
<div class="container">
    <form #myform ="ngForm">
    <div class="measures">
        <div class="titles">
        <h1>Request from :</h1>
        <h3>
            {{personne.email}}
        </h3>
    </div>

       
    <!-- <img class="girl1" src="/assets/svgadd/girl.svg" alt=""> -->
    
       
    <div class="demande">
       
            <div class="form1">
            <div class="text">
                <h3>Note:</h3>
           <p >
                {{demande.name}}
            </p>
            
        
        </div>
      
    </div>
    
    </div>
    <div class="demande2">

        <div class="form1">

    <div class="text1">
        <h3>Date:</h3>
     
       <p
       class="date">
       {{demande.date}}
    </p>
       
    </div>
    </div>
</div>
    
    

    <div class="demande1">
        <div class="form">
            
        <div class="form2">
        <ul>
            <li
            *ngIf="selected1"
            [ngClass]="{selected: selected1}">
            <input name="paies" type="checkbox" 
            ngModel
            class="type1"
            > 
            <label for="paies">Fiches de paies </label> </li>
            
            <li
            *ngIf="selected2"

            [ngClass]="{selected: selected2}"
            ><input type="checkbox"class="type2" 
            ngModel
            name="attsalaire"
            id="salaire"
            >
            <label for="slaire">Attestation de salaire</label></li>
       
            <li
            *ngIf="selected3"

            [ngClass]="{selected: selected3}">
            <input type="checkbox"class="type3"
        name="atttravail"
        ngModel
        >
            
            <label for="att-travail">Attestation de travail</label></li> 
           
            <li
            *ngIf="selected4"

            [ngClass]="{selected: selected4}"
          
            ><input type="checkbox"class="type4" 
        name ="certif"
            
        ngModel
            
            id="certif-travail"
            >
            <label for="certif-travail">Certification de travail</label></li>
        </ul>
        
        </div>
    </div>
    
    
    
    
    </div>
        
        <div class="submit">
            <img class="girl" src="/assets/modify/girl.svg" alt="">
            <div class="btns">
         
            <button 
        *ngIf="level3"
         (click)="accept()"
            class="btnsubmit">Accept</button>

            <button 
       *ngIf="level4"
         (click)="close()"
           
            class="btnsubmit1">Close</button>
        </div>
            <button 
       *ngIf="level2"
            (click)="workonit()"
              [ngClass]="{workonit: !level2}"
               class="btnwork">Work on it</button>
     
               <p
               [ngClass]="{noticeshow: notice}"
               class="notice"
               *ngIf="notice"
               >{{text}}</p>
    
    </div>
    </div>
</form>
    
</div>