


<div class="navbar">
    <img class="proxym" src="assets/proxym.png" alt="">

    <div
    
    (click)="activate()"
    
    class="frame">
        <div class="center"
       
        >
          <input
          #myDiv
          type="checkbox">
          <div class="middle">
          </div>
        </div>
      </div> </div>

   
<div class="links"
[ngClass]="{pointer: !frame}">
    <a 
    routerLink="/profil"

    (click)="triggerFalseClick()"
    class="link1"
    [ngClass]="{move1: frame}"
    >
    Profil</a>
                <a 
                (click)="triggerFalseClick()"
                routerLink="/history"
                href=""  class="link2"
                [ngClass]="{move1: frame}"
                
                >History</a>

                <a 
                  (click)="logout()"
                  routerLink="/login"
                href=""  class="link3"
                [ngClass]="{move1: frame,rotate:true}"
                >Sign Out</a>  
              
              
                  
                    <a 
                    *ngIf="!adminTab && !disable"
    (click)="admin()"
    class="link4"
    [ngClass]="{move1: frame}"
    
    >
    Admin Portal</a>
    <a 
                    *ngIf="adminTab"
    (click)="user()"
    class="link4"
    [ngClass]="{move1: frame}"
    >
    User Portal</a>
  
  </div>
  
  <div class="blur"
  (click)="close()"
  [ngClass]="{blur: frame}"
  >
</div>

<svg id="morph" width="100vw" height="100vh" viewBox="0 0 " preserveAspectRation="none"
>
<path class="morph" d="M0 1.49161L5 1.53548C10 1.57935 21 1.64516 31 1.77677C42 1.90839 52 2.06193 63 1.97419C73 1.90839 83 1.57935 
94 1.40387C104 1.25032 115 1.25032 125 1.25032C135 1.25032 146 1.25032 156 1.20645C167 1.16258 177 1.07484 188 0.899354C198 0.745806 208 0.504516 219 0.701935C229 0.899354 240 1.57935 250 1.60129C260 1.64516 271 1.07484 281 1.11871C292 1.16258 302 1.82064 313 1.90839C323 1.97419 333 1.49161 344 1.31613C354 1.16258 365 1.31613 370 1.40387L375 1.49161V0H370C365 0 354 0 344 0C333 0 323 0 313 0C302 0 292 0 281 0C271 0 260 0 250 0C240 0 229 0 219 0C208 0 198 0 188 0C177 0 167 0 156 0C146 0 135 0 125 0C115 0 104 0 94 0C83 0 73 0 63 0C52 0 42 0 31 0C21 0 10 0 5 0H0V1.49161Z"
 fill="#120c46"
 ></path>


</svg>


  