.container {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    /* background-repeat: repeat; */
  /* background-image: url(/assets/back/normal.svg); */
  background-color: #9ebfdb;
  background-color: #9ebfdb;
background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

  .notice {
      margin-top: 65px;
      position: absolute;
      z-index: 9999999999;
      width: 100vw;
      height: 60px;
      background-color: #c3f3d7;
      border-left: 15px solid #2fd573;
      border-radius: 10px;
      display: flex;
      justify-content:center;
      align-items: center;
      transform: translate(110vw);
      transition-duration: 1500ms;
      
  }
  .show {
    transform: translate(0);
    /* background-color: black; */
  }
  .danger {
    background-color: #ffcaca;
    border-left: 15px solid #ee5353;

  }
  h5{
      font-family: title;
      color: #2fd573;
      font-size: 18px;
      margin: 0 10px 0 15px;
  }
  img{
      margin: 5px;
      width: 30px;
  }
  .img {

  }