
    .container-demande {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* padding-top: 70px; */
        padding-bottom: 70px;
        z-index: 100;
        background-color: #122f49;
background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }
    h3 {
        color: aliceblue;
        font-size: 25px;
        margin: 50px 10px 30px;
        /* width: fit-content; */
        font-family: title;

    }
    .titles {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    img {
        width: 60px;
        padding: 10px 20px;

    }
    .sort {
        width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
 
    }
    .selected {
        border-radius: 10px;
        background-color: rgb(146, 146, 146);
    }
    @media only screen and (min-width : 520px) {
        h3 {
            color: aliceblue;
            font-size: 35px;
            margin: 50px 10px 30px;
            /* width: fit-content; */
            font-family: title;
    
        }
    }