@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }

    .container-demande {
        display: flex;
        background-color: #122f49;
background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 70px;
        z-index: 100;
        /* background-image: url(/assets/svgadd/background.svg); */

    /* background-color: rgba(149, 183, 255, 0.342); */
/* overflow: scroll; */
    }
h3 {
    font-family: title;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}
.titles {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-wrap: wrap;
}

img {
    width: 60px;
    padding: 10px 20px;

}
.sort {
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
.selected {
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
}


.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    width: 50vw;
    height: 50px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background: linear-gradient(87deg, rgba(211, 211, 211, 0.778) 0%, rgba(32, 32, 32, 0.621) 100%);
    transition: all 3000ms ;
    margin: 10px;

}
h5{
    font-family: title;
    font-size: 19px;
}
.admin img {
    width: 40px;
}






@media only screen and (min-width: 700px){

    h3 {
        margin: 5px;
        font-size: 30px;
    }
    .titles {
        flex-direction: column;
    }
    .admin  {
        width :350px
    }
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button:focus {
 background-color: black;
    background: linear-gradient(87deg, rgba(0, 0, 0, 0.778) 0%, rgba(211, 211, 211, 0.621) 100%);

}

@media only screen and (max-width: 400px){

   
    .admin  {
        width :230px
    }
}