
<div class="container-demande">
    <div class="style">
        
    </div>
    <div class="titles">
    <h3>Requests from :</h3>
    <h3> {{person.email}}</h3>
</div>

<button
[disabled]="disabled"
(click)="updateadmin()"
[ngClass]="{click: click}"
class="admin">
      
    <h5> {{text}} </h5> 
      <img src="/assets/svg/admin.svg" alt="">
    </button>
<div class="sort">
    <img 
    [ngClass]="{selected: selected4}"
    (click)="new()"
    src="/assets/svg/new.svg">
    <img 
    [ngClass]="{selected: selected1}"
    (click)="working()"
    src="/assets/svg/working.svg">
    <img 
    [ngClass]="{selected: selected2}"

    (click)="ok()"
    
    src="/assets/svg/ok.svg" alt="">
    <img 
    [ngClass]="{selected: selected3}"

    (click) ="closed()"    src="/assets/svg/close.svg" alt="">
    </div>
    
    <div class="app">
<app-element-user
    *ngFor="let box of current"
    [demande]="box"
    >
</app-element-user>
</div>    
</div>