@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }

    .container-demande {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
        z-index: 100;
        background-image: url(/assets/svgadd/background.svg);

    /* background-color: rgba(149, 183, 255, 0.342); */
/* overflow: scroll; */
    }
h3 {
    font-family: title;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}
.titles {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-wrap: wrap;
}
.style {
    top: 0;
    position: absolute;
    z-index: -1;
    transform: translateY(-80px);
    width: 100vw;
    height: 40vh;
    background: rgb(164,209,255);
background: linear-gradient(87deg,
 rgb(164, 209, 255)
  0%,
   rgb(43, 47, 107) 100%);
   background-repeat: repeat;
   background-size: contain;
}