@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }

    .container-demande {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 70px;
        z-index: 100;
        /* background-image: url(/assets/svgadd/background.svg); */

    /* background-color: rgba(149, 183, 255, 0.342); */
/* overflow: scroll; */
    }
h3 {
    font-family: title;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}
.titles {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-wrap: wrap;
}

img {
    width: 60px;
    padding: 10px 20px;

}
.sort {
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;

}
.selected {
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
}










@media only screen and (min-width: 700px){

    h3 {
        margin: 20px;
        font-size: 45px;
    }
    .titles {
        flex-direction: column;
    }
}