/* You can add global styles to this file, and also import other style files */
body, html {
height: 100%;
    margin: 0;
    overflow: visible;
}
body
{
overflow-x:hidden;
width:100%;
/* overflow: hidden; */
}

@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }
