@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 70px;
        
        z-index: 100;
        background-color: #9ebfdb;
        background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        /* background-image: url(/assets/svgadd/background.svg); */
    }
    img {
        width: 200px;
    }
    .buttons {

    }














    

.demande {
    background-color: rgb(255, 255, 255);
   
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgb(0, 0, 0);
    width: 300px;
    margin-top: 10px;
    /* transform: translateY(-20px); */
   height: 280px;
   z-index: 0;
    /* padding: 2%; */
    /* flex-grow: 1; */
    border-radius: 20px;
    -webkit-box-shadow: 2px -1px 16px -2px rgba(173,173,173,1);
-moz-box-shadow: 2px -1px 16px -2px rgba(173,173,173,1);
box-shadow: 2px -1px 16px -2px rgb(196, 196, 196);
overflow:hidden;


}

.form1 {
    width: 300px;
   height: 280px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

button {
    width: fit-content;
    height:fit-content;
    padding: 10px 20px;
    /* align-self: flex-start; */
    background-color: rgba(255, 255, 255, 0.37);
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 10px;
    font-size: 20px;
    /* transform: translate(-15px,50px); */
    margin: 10px;
    font-family: title;
    /* font-weight: 200px; */
    /* font-size:large; */

}


.form {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* transform: translateY(10%); */

}
.div-mail {
    position: relative;
    width: 80%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  
}
.div2 {
    transform: translateY(-10px);
}
span {
  font-family: title;
font-size: 21px;
}
.form1 input{
    height: 2em;
    margin-top: 1em;
 width: 220px;
   padding-bottom: 0;
  vertical-align: middle;
  border: none;
  border-bottom: 2px rgb(13, 66, 109) solid;
  outline: none;
  background-color: rgba(0, 255, 255, 0);
  transform: translate(0,10px);
  font-size: 20px;
  transition: 700ms;
  font-family: title;
}
.form1 label {
    width: 100%;
  font-family: title;

}
.span-mail {
    position: absolute;
    bottom: 0;
    top: 0em;
    right: 0;
    left: 0;
    pointer-events: none;
  font-family: title;
    
    transition: 500ms ease;

     display: flex;
     justify-content: flex-start;
    align-items: center;
    width: 100%;
    
    }
   
    
    .label-mail::after {
        content: "";
        position: absolute;
        left: 0;
        border-bottom: 2px solid rgb(16, 30, 153);
        z-index: 10;
        bottom: 7px;
        width: 224px;
        height: 100%;
        transform: translate(-120%,17px);
        pointer-events: none;
        transition: 1000ms ease;
    
    
    
    }
    
    .form1 input[type="text"]:focus + .label-mail span,
    .form1 input[type="text"]:valid + .label-mail span{
        transform: translateY(-5px);
      font-size: 19px;
    }
    .form1 input[type="text"]:focus + .label-mail::after ,
     .form1 input[type="text"]:valid + .label-mail::after{
        transform: translate(0,17px);
    } 
    
    .hide {
        display: none;
    }
   
    label {
        display: flex;
    }

    .span-mail {
        display: flex;
        justify-content: flex-start;
        /* transition-duration: 500ms; */
        transform: translate(0px);
 
    }

    span {
        margin: 2px;
        /* opacity: 0; */
        /* transition-duration: 500ms; */
        transition: opacity 800ms , 
        transform 800ms ;
      

    }
   
    
    .originalshow {
        transform: translate(0);
    }
    .form1 .border {
        border-bottom: 2px solid rgb(163, 170, 255);
    }
   