<div class="container">
    <div class="footer">
        <div class="icon add">
            
            <img class="addimg"src="/assets/svg/workgray.svg" alt="">
            <img 
            routerLink="/admin/workingon" routerLinkActive="router-link-active" 
            class="addimg color add-color" src="/assets/svg/work.svg" alt=""
            [ngClass]="{show: add}"
            (click)="addClick()"
            
            >
        </div>
        <div class="icon home">
           
            <img class="homeimg" src="/assets/svgtab/homegray.svg" alt="">
            
            <img 
            routerLink="/admin/admin" routerLinkActive="router-link-active" 
            
            class="homeimg color home-color" src="/assets/svgtab/home.svg" alt=""
            [ngClass]="{show: home}"
            (click)="homeClick()"
            >

        </div>
      
        <div class="footerafter"
        
        ></div>
       </div>
